@model IEnumerable<FormTaskWithEntity.Entities.Client>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <style>
        .submit {
            margin-left: 10em;
            margin-top: 2em;
            background-color: green
        }
        body {
            background-color: cornflowerblue
        }
        button {
            margin-left: 10em;
            margin-top: 2em;
            width:10em;
            height:2em;
        }

           

    </style>
</head>
<body>
    @foreach (var item in Model)
    {
        <ol>
            <li>Id : @item.ID</li>
            <li>Name : @item.Name</li>
            <li>Surname : @item.Surname</li>
            <li>Age : @item.Age</li>
            <li>Adress : @item.Adress</li>
            <li>Salary : @item.Salary</li>
        </ol>
    }

    <form asp-controller="ShowAllClient">

        <button asp-action="GoBack" type="submit" id="submit" class="submit">Go Back</button>
    </form>
</body>
</html>
